.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: darkgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.post img {
  width: 160px;
  height: 200px;
  margin-left: 20px;
}
.post h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: brown;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.post {
  padding: 20px;
  border: 1px solid #830000;
  border-radius: 5px;
  margin-bottom: 20px;
}
.details {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.details img {
  width: 160px;
  height: 200px;
  margin-left: 20px;
}
.details h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: brown;
  font-weight: 700;
}
